<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Kindle 分享至饭否（非官方）</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/m.css" type="text/css" media="screen" charset="utf-8" /></head>
<body>
<h1><a href="/kindle"><img src="/static/fanfou.gif" alt="饭否" /></a></h1>
$if web.ctx.session.get('notice'):
    <p class="n">$notice()</p>
<p class="n">正在删除绑定，如需再次使用请重新绑定</p>
$if  not web.ctx.session.get('kindle_token'):
    <p class="n">请先<a href="/kindle/authorize">授权</a></p><hr />
$else:
    <form method="post" action="/kindle/suicide" >
    <p><input type="hidden" name="user-suicide" value="confirm" /><input type="submit" value="删除绑定" /></p>
    </form>
    <hr />
<a href="/kindle/help">查看帮助</a>
<div id="ft">&copy; 2016 fanfou.club/kindle</div>
<p>[$now()]</p>
</body>
</html>